@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --color-background: #e3ebff; /* define background color */
  --color-foreground: #081126;
  --color-card: #fff8e7;
  --color-muted: #f6eecf;
  --color-muted-foreground: rgba(0, 0, 0, 0.6);
  --color-primary: #0b3d59; /* define primary color */
  --color-secondary: #10222c; /* define secondary color */
  --color-tertiary: rgba(11, 61, 89, 0.44); /* define tertiary color */
  --color-accent: #473f3f; /* define accent color */
  --color-border: rgba(0, 0, 0, 0.1);
  --color-success: #00993b;
  --color-destructive: #dc2626;
  --color-subscription: #8fd1bd;

  /* define spacing */
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-16: 64px;
  --spacing-18: 72px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-30: 120px;

  /* define fonts */
  --font-poppins-black: poppins-black;
  --font-poppins-bold: poppins-bold;
  --font-poppins-extrabold: poppins-extrabold;
  --font-poppins-extralight: poppins-extralight;
  --font-poppins-light: poppins-light;
  --font-poppins-medium: poppins-medium;
  --font-poppins-regular: poppins-regular;
  --font-poppins-semibold: poppins-semibold;
  --font-poppins-thin: poppins-thin;

  /* define font size */
  --text-sm: 12px;
  --text-md: 15px;
  --text-lg: 20px;
  --text-xl: 30px;

  /* define radius */
  --radius-sm: 10px;
  --radius-bg: 20px;
  --radius-xl: 32px;
}
